body{
    background-color: rgb(199, 227, 205);
}
form{
    width: 300px;
    background-color: rgb(183, 215, 196);
}
input {
    background-color: rgb(135, 177, 139);
    border-color: rgb(48, 83, 44);
    border-radius: 5px;
}
